{% extends '::base.html.twig' %}

{% block body %}
	<div class="col-md-12">
		<div class="col-md-5 col-md-offset-1 left">
			<img class="img-style-3" src="{{ asset('uploads/film/' ~ movie.folder ~ '') }}">
		</div>
		<div class="col-md-5">

			<h2>{{ movie.titre }}</h2>
			<hr>
			<p>{{ movie.description }}</p>
			
		</div>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<div class="col-md-12">
			
			<div class="col-md-4 com">
				<h2>Donne ton avis <a href="{{ path('commentaire_new') }}"><strong>ici</strong></a></h2>
				<h3>Commentaires : </h3>
				{# {% for commentaire in commentaires %}

				<tr>
                <th>Titre</th>
                <td>{{ commentaire.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ commentaire.contenu }}</td>
            </tr>
        		{% endfor %} #}
			</div>
		</div>
	</div>

{% endblock %}